/* .root {
  background-color: rebeccapurple   ;
} */

.header_name {
  text-align: start;
}

.container {
  align-self: center;
  display: flex;
  justify-content: center;
}

.container > button {
  margin: 0rem .5rem;
}

.container > div {
  color: #ffff;
}

.with_img {
  margin-right: .5rem;
}

.table {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.thead {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.tbody {
  border-radius: .5rem;
  background: #FFFFFF;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
  width: 100%;
}

.th {
  width: 100%;
  padding: 1rem;
}

.th:first-child {
  width: 10%;
  padding: 1rem;
}

.tr {
  width: 100%;
  padding: 1rem;
}

.tr:first-child {
  width: 10%;
  padding: 1rem;
} 